@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  @apply bg-blue-100;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-[10px] bg-white;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-[17px] bg-white;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#c6c6c6] rounded-xl;
  border: 4px solid #fff;
}

@media (prefers-color-scheme: dark) {
  *::selection {
    background-color: rgba(219,234,254,.06);
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 0;
    @apply bg-slate-900;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply border-slate-900;
  }
  .MuiChip-root,
  .MuiChip-colorDefault {
    color: #9ca3af!important;
  }
}

img {
  @apply select-none;
  -webkit-user-drag: none;
}

button {
  font-family: "Inter", sans-serif !important;
}

.product-view {
  grid-template-areas: "image content content";
}

.product--image {
  grid-area: image;
}

.product--content {
  grid-area: content;
}

.viewbox-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: inherit;
}

@media screen and (max-width: 768px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 0!important;
  }
  .viewbox-desc {
    -webkit-line-clamp: 2!important;
  }
}

.MuiBadge-colorPrimary {
  @apply bg-blue-200 text-blue-950 border border-blue-950;
}

div[data-rmiz-content] {
  @apply flex items-center justify-center;
}